# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# artifacts
/contracts/typechain-types/*
/contracts/artifacts/*
/contracts/cache
/frontend/src/artifacts/build-info/*
/frontend/src/artifacts/**/*.dbg.json


# production
/frontend/build
/.env
cdk.out

# misc
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
