button.green {
  width: 100%!important;
  height: 50px!important;
  background-image: linear-gradient(195deg,#66bb6a,#43a047);
  color: white!important;
  border: 0px!important;
}
span.MuiTabs-indicator {
  left: 121.266px;
  min-width: 150px!important;
  height: 30px;
  background: white;
  bottom: 9px;
  border-radius: 0.5rem;
}